<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda esperando para entrega! Configura os detalhes: </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Encomenda: </strong> {{ product }} <br />
</p>
